:root {
	font-family: "Trebuchet MS", "Open MS", sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	margin-bottom: 0;
}

canvas {
	display: block;
	margin: 0 auto;
	border: 1px solid black;
}

form {
	display: flex;
	flex-flow: row wrap;

	> section {
		width: 50%;
	}
}

section {
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	align-items: center;

	> label {
		display: block;
		width: 100%;
		white-space: nowrap;
		text-align: right;
	}
}

input[type="range"] {
	width: calc(90% - 2em);
}

output {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	min-width: 2em;
}
